{#
The Patient Portal card for the Medical Record Dashboard

@author       Robert Down <robertdown@live.com>
@copyright    Copyright (c) 2022 Robert Down <robertdown@live.com>
@package      OpenEMR
#}

{% extends "patient/card/card_base.html.twig" %}

{% if (prependedInjection is defined) or (appendedInjection is defined) %}
    {% import "patient/macros/card.macro.twig" as cardMacros %}
    {% set prepend = cardMacros.injectedContent(prependedInjection) %}
    {% set append = cardMacros.injectedContent(appendedInjection) %}
{% endif %}


{% block content %}
<div class="text">
        {{ prepend }}
        <div class="px-1 text d-block"> <i class="fa fa-exclamation-circle" style="font-size:14px; color: red"></i> {{ summary|text }}</div>
        <div class="px-1 text d-block small text-muted">
            {{ detail|text }}
            {% if (links is defined) %}
                <a href="{{ links['url']|attr }}" target="_blank">{{ links['label']|text }}</a>
            {% endif %}
        </div>
        {{ append }}
</div>
{% endblock %}
